
.text-decor{
  text-decoration: none;
  color: rgb(97, 97, 97);
}
.text-decor:hover{
  color:black;
}
.corner-radius{
  border-radius: 200px !important;
}
.fontSize{
  font-size: 1.4rem !important;
}

/* Home page */
.sumbmission-Link {
  font-size: 1.2rem;
}
.search-inp{
  border: none;
  outline: none;
  width: 145px;
}
.activeMenu{
  border-bottom: 3px solid green;
}

/* AllItems Page */
.item-Card{
  width: 20rem;
  cursor: pointer;
  color: black;
}
.item-Card-Img{
  width: 100px !important;
  height: 70px;
}
.item-card-summary{
  height: 100px;
  overflow: hidden;
}
/* .item-card-time{
  text-align: ;
} */


/* Detail Page */
.Card-box{
  background-color: transparent !important;
  color: white;
  border: none !important;
}
.links-Btn{
  border-color: grey;
  color: grey;
  width: 200px;
  font-size: 1rem;
}
.favIcon{
  cursor: pointer;
}



